<div id="images" class="images">
    <figure>
        <img src="./img/grey-cat.jpg">
        <figcaption>Grey Cat</figcaption>
    </figure>
    <figure>
        <img src="./img/icicles.jpg">
        <figcaption>Icicles on a Truck</figcaption>
    </figure>
    <figure>
        <img src="./img/light-bulb.jpg">
        <figcaption>Light Bulb</figcaption>
    </figure>
    <figure>
        <img src="./img/pencils.jpg">
        <figcaption>Coloured Pencils</figcaption>
    </figure>
    <figure>
        <img src="./img/silhouette.jpg">
        <figcaption>Silhouette</figcaption>
    </figure>
    <figure>
        <img src="./img/tabby-cat.jpg">
        <figcaption>Tabby Cat</figcaption>
    </figure>
</div>